{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}
<main role="main" class="container">
  <div class="row">
    <div class="col-md-3 mb-3 mt-1">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="h3">
                Об авторе
              </div>
            </li>
            <li class="list-group-item">
              <div class="h6 text-muted">
                Где все моё свободное время? <br><br>
                В практикуме...
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <div class="card-text">
          <p>Доброго времени суток!</p>
          <p></p>
          <p>Меня зовут Павел.
          </p>
          <p>Работаю инженером на гидроэлектростанции.
          </p>
          <p>На работе, для облегчения рутинных задач, часто прибегаю к программированию.
          </p>
          <p>Для меня приятней и интереснее потратить пару часов на построения логики программы и на кодинг чем вручную совершать однотипные действия.
          </p>
          <p>Давно подумывал о том, что бы повысить свой уровень знаний.
          </p>
          <p>Одним тихим зимним вечером, выкроив свобоную минуту от рабочих и домашних проблем, от бесконечных и необъятных вопросов от детей, которые нельзя оставить без ответа но иногда так хочется, я листаю новостную ленту в браузере в очередной попытке увидеть что-то новое, интересное, познавательное.
            Внимание привлек рекламный баннер, практикум, яндекс, python. Так, стоп! У меня же годами выработан навык фильтровать все банеры, а тут он меня зацепил. Ах, да Python!
            Я же пару месяцев назад на вопрос сына "Пап, а мы можем напистаь игру?" установил IDE и мы вместе с помощью роликов на ютубе "написали" змейку. И я решил, что если у сына вдруг проснется серъезный интерес к программированию то я чему-то да смогу его научить. Ведь в свое время я и на бейсике и на паскале и на ассемблере кодил, эх… была такая машина ZX-Spectrum.
            Кликаю на баннер, нам тут многое обещают, но мы то знаем… О, бесплатный курс. На две недели. Надо проверить что там приготовили…
            …спустя несколько дней…
            Да это… как…??? Хочу еще!!!
            Я просто не мог оторваться! Теория чередуется с задачами, не решив задачу дальшк не пускают. Прочитав условие задачи я уже вижу схему решения, руки чешутся написать код, несколько попыток и решение принято! Вау, дофаминчик подвезли! И так во все всобоное время (грешен, в рабочее тоже, но это не точно ;)).</p>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
