{% extends "base.html" %}
{% block title %}О технологии{% endblock %}
{% block content %}
{% load user_filters %}
<main role="main" class="container">
  <div class="row">
    <div class="col-md-3 mb-3 mt-1">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="h4">
                О технологии
              </div>
            </li>
            <li class="list-group-item">
              <div class="h6 text-muted">
                Django <br> «я проснулся»
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <div class="card-text">
          <p>Django 2.2.6
          </p>
          <p>Pytest-django 3.8.0
          </p>
          </p>Python 3.9.1
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
